@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ======== Scroll none ========= */
.scrollnone::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollnone {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.scrollnone::-ms-scrollbar {
  width: 0px;
  height: 0px;
}

/* ======== Scroll none ========= */

.nav-shadow {
  box-shadow: 0px 4px 18px 8px rgba(0, 0, 0, 0.25);
}

.bgBtnShadow{
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.593);
    height: 200%;
    width: 30px;
    top: 0;
    transition: .4s;
    transform: skew(20deg) translateX(-300%);
  }
  &:hover::before{
    transform: translateX(600%);
  }
  &:hover{
    box-shadow: 0px 0px 2px 2px rgba(234, 42, 255, 0.506),
    0px 0px 8px 8px rgba(244, 140, 255, 0.506),
    0px 0px 16px 18px rgba(244, 143, 255, 0.506);
  }
}

.connectWalletBigBtn{
  transition: .4s;
  &:hover img{
    transform: scale(3) translateX(-5px);
  }
  &:hover{
    box-shadow: 0px 0px 6px 6px rgba(234, 42, 255, 0.506);
  }
}

.contactBtn{
  transition: .4s;
  &:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 8px #ad56ff;
    font-size: 22px;
    font-weight: 600;
  }
}

.faqCard{
  transition: .4s;
  &:hover > div > div > img{
    transition: .8s;
    transform: rotate(720deg);   
  }
  /* &:hover > div > div{
    transition: .4s;
    background-color: #A33AB9;
  } */
}

.rangeSliderCont{
  transition: .4s;
  &:hover{
   box-shadow: 0px 0px 8px 3px #ff23f0;
   transform: scale(1.04);
  }
}


.button-border {
  border: 2px solid transparent;
  /* Set a transparent border */
  border-image-source: linear-gradient(90deg, #6146C7 0%, #E837D1 100%);
  /* Gradient border */
  border-image-slice: 1;
  /* Ensures the gradient is applied to the border */
  border-radius: 14px;
}

.buy-tupl-shadow {
  box-shadow: 0px 4px 7.6px 0px rgba(0, 0, 0, 0.25);
}

.gradient-text {
  background: linear-gradient(90deg, #6246C7 0%, #E037D6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(90deg, #DC27AA 0%, #7525BF 100%);
  color: white;
}

.bg-radial {
  background: radial-gradient(32.31% 32.31% at 46.67% 100%, #A33AB9 0%, #535298 100%);
}

.faq-shadow {
  box-shadow: 0px 5px 16px 0px #080F340F;
}

.faq-button-shadow {
  box-shadow: 0px 5px 16px 0px #080F340F;
}

.how-to-buy-step-bg {
  background-color: rgba(246, 244, 252, 0.8);
}

.faq-button-shadow {
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
}

input[type="range"]::-webkit-slider-thumb {
  /* appearance: none; */
  /* display: none; */
  opacity: 0;
}

input[type="range"]::-moz-range-thumb {
  /* appearance: none; */
  /* display: none; */
  opacity: 0;
}

.mobile-nav-shadow {
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.1);
}

/* ============= animated Btn ============= */

 
.animatedBtn {
  padding: 6px 1rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  background-color: rgb(247, 247, 247);
  border-radius: .5rem;
 }
 
 .animatedBtn::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: linear-gradient(to left, #6545C8, #D943C6);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .animatedBtn:hover::before {
  width: 150%;
 }
 
 .animatedBtn:hover {
  color: #ffffff;
 }
 
/* ============= SVG Target Animation ============= */

.svg-frame {
  position: absolute;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

/* .svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
} */

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

/* .svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
} */

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

/* ============= falling tiles Animation ============= */
 
.center-body{
  height: 30px;
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-spanne-20 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
.loader-spanne-20 > span {
  position: absolute;
  right: 0;
  width: 3px;
  height: 30px;
  background-color: rgb(31, 31, 31);
  display: block;
  border-radius: 3px;
  transform-origin: 50% 100%;
  animation: move 2.8s linear infinite;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    opacity: 1;
  }
  40% {
    transform: translateX(-40px) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateX(-50px) rotate(22deg);
  }
  85% {
    opacity: 1;
    transform: translateX(-85px) rotate(60deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px) rotate(65deg);
  }
}


/* ============= gear rotater ============= */

/* From Uiverse.io by Shoh2008 */ 
.gear-rotater {
  width: 48px;
  height: 48px;
  background: #353535;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}

.gear-rotater::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #2e2e2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.gear-rotater::after {
  content: '';
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ============= animated Profile Btn ============= */


.imgBtnBorders {
  position: relative;
  display: inline-block;
  padding: 4px 1rem;
  border: 2px solid #4f4f4f;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.imgBtnBorders::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.imgBtnBorders:hover::before {
  transform: scaleY(0);
}

.imgBtnBorders::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.imgBtnBorders:hover::after {
  transform: scaleX(0);
}

.imgBtnBorders span {
  position: relative;
  z-index: 3;
}

.animatedProfileBtn {
  background-color: none;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #303030;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #242424;
  top: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.animatedProfileBtn:hover .tooltip {
  top: 50px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ============= navlistText ============= */

.navlistText span {
  transition: opacity 0.2s ease-in-out;
  display: inline-block;
  visibility: visible;
}

.navlistText:hover span{
  animation: wave 0.5s ease forwards calc(var(--i) * 0.05s);
}

@keyframes wave {
  30% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-3px);
    color: #ff5569;
  }
  100% {
    transform: translateY(0);
  }
}

/* ============= HOW TO BUY PAGE ============= */

.howtobuy-points{
  transition: 1s;
  animation: 2s castShadow infinite ease-in-out;
}

@keyframes castShadow{
  0%{
    box-shadow: none;
  }
  50%{
    box-shadow: 0px 0px 12px 12px #738DED;
  }
  100%{
    box-shadow: none;
  }
}

/* ============= Responsive Styles ============= */

@media screen and (max-width: 750px) {
.page-header-home-text{
  padding-bottom: 20px;
}
}
@media screen and (max-width: 850px) {
.nav-logo-1{
  height: 60px !important;
}
.nav-logo-2{
  height: 14px !important;
}
}
@media screen and (min-width: 1180px) {

  .dashboard-mobile-menu {
    display: none;
  }

  .dashboard-nav-links {
    display: block;
  }

  .dashboard-sidebar {
    display: none;
  }
}

@media screen and (max-width: 1180px) {

  .dashboard-mobile-menu {
    display: block;
  }

  .dashboard-inner {
    padding-top: 0px;
  }

  .dashboard-sidebar-2 {
    width: 0px;
    padding-right: 0px;
  }

  .dashboard-nav-links {
    display: none;
  }

}

@media screen and (min-width: 1100px) {

  .mobile-menu {
    display: none;
  }

  .nav-links {
    display: block;
  }

}

@media screen and (max-width: 1100px) {

  .mobile-menu {
    display: block;
  }

  .nav-links {
    display: none;
  }

}

@media screen and (max-width: 1000px) {

  .page-header-heading {
    font-size: 35px;
  }

  .page-header-home,
  .page-header-home-sub-class {
    font-size: 20px;
  }

  .page-header-home {
    margin-top: 0px;
  }

}

@media screen and (max-width: 800px) {

  .page-header-heading {
    font-size: 30px;
  }

  .page-header-home,
  .page-header-home-sub-class {
    font-size: 19px;
  }

  .page-header-home {
    margin-top: 0px;
  }

}

@media screen and (max-width: 600px) {

  .page-header-heading {
    font-size: 28px;
  }

  .page-header-home,
  .page-header-home-sub-class {
    font-size: 18px;
  }

  .page-header-home {
    margin-top: -2px;
  }

  .page-header-image {
    width: 95%;
  }

}

@media screen and (max-width: 480px) {

  .page-header-heading {
    font-size: 25px;
  }

  .page-header-home,
  .page-header-home-sub-class {
    font-size: 17px;
  }

  .page-header-home {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media screen and (max-width: 425px) {

  .page-header-heading {
    font-size: 22px;
  }

  .page-header-home,
  .page-header-home-sub-class {
    font-size: 16px;
  }

  .page-header-home {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media screen and (max-width: 1100px) {
  .answer-text {
    width: 95% !important;
  }
}

@media screen and (max-width: 900px) {

  .faq-question-container {
    width: 90%;
    min-height: 50px !important;
    padding: 40px 20px;
  }

}

@media screen and (max-width: 800px) {

  .question-text {
    font-size: 20px;
  }

  .answer-text {
    font-size: 16px;
    margin-top: 8px !important;
  }

  .faq-dropdown-icon {
    min-height: 46px;
    max-height: 46px;
    min-width: 46px;
    max-width: 46px;
  }

}

@media screen and (max-width: 600px) {
  .faq-question-container {
    width: 95%;
    min-height: 50px !important;
    padding: 35px 15px;
    margin-top: 15px;
  }

  .faq-dropdown-icon {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
  }

  .question-text {
    font-size: 19px;
  }


}

/* ===== About ====== */

@media screen and (max-width: 1150px) {

  .about-text-1,
  .about-text-2 {
    font-size: 24px;
    line-height: 38px
  }
}

@media screen and (max-width: 1000px) {

  .about-inner-upper-container,
  .about-inner-lower-container {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 900px) {

  .about-text-1,
  .about-text-2 {
    font-size: 20px;
    line-height: 35px
  }

  .upper-left,
  .lower-right {
    width: 100%;
  }

  .about-inner-upper-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-inner-lower-container {
    flex-direction: column;
    align-items: center;
  }


}

@media screen and (max-width: 800px) {

  .about-text-1,
  .about-text-2 {
    font-size: 19px;
    line-height: 35px
  }
}

@media screen and (max-width: 600px) {

  .about-text-1,
  .about-text-2 {
    font-size: 18px;
    line-height: 32px
  }

  .about-inner-upper-container,
  .about-inner-lower-container {
    padding: 0px 3%;
  }

  .lower-left,
  .upper-right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .about-text-1,
  .about-text-2 {
    font-size: 17px;
    line-height: 32px
  }
}

/* ===== About ====== */
/* ===== Docs ====== */

@media screen and (max-width: 1200px) {
  .docs-text-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .docs-whitepaper button {
    font-size: 22px;
    height: 36px;
    width: 182px;
  }

  .docs-whitepaper {
    height: 40px;
    width: 186px;
  }

  .docs-heading {
    font-size: 22px;
  }

  .wallet-container {
    padding: 0px 5%;
  }

  .point-heading {
    width: 100%;
  }

  .metamask-left,
  .trustwallet-right {
    padding: 40px 10px;
  }

  .metamask-left p,
  .trustwallet-right p {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .docs-main-heading {
    margin-top: 50px;
  }
}

@media screen and (max-width: 900px) {
  .docs-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .wallet-container {
    gap: 20px;
  }

  .points-gap {
    gap: 5px;
  }
}

@media screen and (max-width: 910px) {
  .wallet-container {
    flex-direction: column;
  }

  .trustwallet-last-option {
    margin-top: 0px;
  }

  .metamask-left,
  .trustwallet-right {
    width: 100%;
  }

  .last-point-height {
    height: 80px;
  }
}

@media screen and (max-width: 750px) {
  .docs-whitepaper button {
    font-size: 18px;
    height: 30px;
    width: 160px;
  }

  .docs-whitepaper {
    height: 34px;
    width: 164px;
  }
}

@media screen and (max-width: 600px) {
  .wallet-container {
    padding: 0px 3%;
  }
}

@media screen and (max-width: 500px) {
  .last-point-height {
    height: 100px;
  }
}

@media screen and (max-width: 415px) {
  .last-point-height {
    height: 120px;
  }
}



/* ===== Docs ====== */

/* ===== Token ===== */
@media screen and (max-width: 1100px) {
  .token-heading {
    width: 80%;
    line-height: 32px;
  }

  .points-container {
    padding: 0px 5%;
  }

  .token-point-heading {
    font-size: 30px;
  }

  .token-point-para {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .token-point-heading {
    font-size: 28px;
  }

  .token-point-para {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .token-image-container {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 800px) {
  .token-point-heading {
    font-size: 24px;
  }

  .token-point-para {
    font-size: 18px;
    line-height: 28px;
    padding-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .token-point-heading {
    font-size: 22px;
  }

  .token-point-para {
    font-size: 16px;
    line-height: 28px;
    padding-left: 0px;
    margin-top: 0px;
  }

  .token-heading {
    width: 95%;
    line-height: 32px;
  }

  .points-container {
    padding: 0px 3%;
  }

  .token-heading {
    font-size: 16px;
    line-height: 24px;
  }

  .points-container {
    margin-top: 60px;
  }

}

@media screen and (max-width: 480px) {
  .token-point-heading {
    font-size: 20px;
  }

  .token-point-para {
    font-size: 15px;
    line-height: 25px;
    padding-left: 0px;
    margin-top: 0px;
  }
}

/* ===== Token ===== */
/* ===== How to buy ===== */
@media screen and (max-width: 1100px) {
  .steps-container {
    padding: 0px 5%;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .how-to-buy-heading {
    font-size: 25px;
  }

  .how-to-buy-heading-para {
    font-size: 16px;
    /* margin-top: 10px; */
  }

  .how-to-buy-sub-heading {
    font-size: 22px;
    margin-top: 10px;
  }

  .how-to-buy-step-circle {
    width: 60px;
    height: 60px;
    font-size: 35px;
  }

  .how-to-buy-step-circle-text {
    font-size: 14px;
    margin-top: 5px;
  }

  .how-to-buy-step-right {
    margin-left: 5px;
    padding: 20px 30px;
  }

  .how-to-buy-step-container {
    margin-top: 40px;
  }

  .how-to-buy-step-point {
    margin-top: 5px;
  }

  .how-to-buy-step-heading {
    font-size: 19px;
  }
}

@media screen and (max-width: 790px) {
  .how-to-buy-step-container {
    gap: 10px;
  }

  .how-to-buy-step-left {
    width: 50px;
  }

  .how-to-buy-step-right {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .how-to-buy-heading {
    font-size: 22px;
  }

  .how-to-buy-heading-para {
    font-size: 16px;
    /* margin-top: 10px; */
  }

  .how-to-buy-sub-heading {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .steps-container {
    padding: 0px 3%;
    padding-top: 50px;
  }

  .how-to-buy-step-right {
    margin-left: 5px;
    padding: 15px 15px;
  }

  .how-to-buy-step-container {
    margin-top: 15px;
  }

  .how-to-buy-sub-heading {
    padding-bottom: 45px;
  }
}

/* ===== How to buy ===== */

/* ===== Dashboard ===== */
@media screen and (max-width: 800px) {
.dashboard-tupl-price{
  font-size: 28px;
}
}
@media screen and (max-width: 600px) {
.dashboard-tupl-price{
  font-size: 24px;
}
}
@media screen and (max-width: 950px) {
  .dashboard-table-container {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .table-heading-container {
    padding: 0px 15px;
  }

  .purchase-history-header {
    padding: 15px 15px;
  }

  .table-heading {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .table-heading-container {
    overflow-x: scroll;
  }

  .table-heading-container {
    gap: 15px;
  }
}

@media screen and (max-width: 540px) {
  .table-heading {
    font-size: 14px;
  }

}

/* ===== Dashboard ===== */
/* ====== Home page ====== */

@media screen and (max-width: 1180px) {
  .home-wrapper {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 1130px) {
  .home-hero-paragraph {
    font-size: 24px;
  }

  .home-wrapper {
    padding: 0px 2%;
  }
}

@media screen and (max-width: 1070px) {
  .home-wrapper{
    flex-direction: column;
  }
  
  .hero-left, .hero-right {
    width: 100%;
  }
  .hero-left{
    padding-top: 50px;
  }
  .home-hero-paragraph{
    text-align: center;
    padding-right: 0px;
  }
  .home-mobile-image{
    width: 600px;
    margin: auto;
  }
  .home-hero-buttons-position{
    position: absolute;
    left: 16vw;
    bottom: -15%;
  }
}
@media screen and (max-width: 900px) {
  .home-hero-paragraph {
    font-size: 22px;
  }
  .roadmap-upper-text, .roadmap-lower-text{
    font-size: 22px;
    /* line-height: 40px; */
  }
}
@media screen and (max-width: 600px) {
  .home-hero-paragraph {
    font-size: 18px;
    font-weight: 500;
  }
  .roadmap-upper-text, .roadmap-lower-text{
    font-size: 18px !important;
    font-weight: 500;
    line-height: 30px !important;

  }
}
@media screen and (max-width: 500px) {
  .home-hero-paragraph {
    font-size: 18px;
    font-weight: 500;
  }
  .roadmap-upper-text, .roadmap-lower-text{
    font-size: 18px  !important;
    font-weight: 500;
  }
}
@media screen and (max-width: 1000px) {
  .home-mobile-image{
    width: 500px;
    margin-top: 40px !important;
    margin: auto;
  }
  .home-hero-buttons-position{
    position: absolute;
    left: 20vw;
    bottom: -17%;
  }
  .home-hero-whitepaper{
    height: 36px;
    width: 160px;
  }
  .home-hero-button-social-container{
    width: 160px;
  }
  .home-hero-whitepaper button, .home-hero-contract{
    height: 32px;
    width: 156px;
    font-size: 19px;
  }
  .home-hero-button-social{
    height: 30px;
    /* margin-right: 20px ; */
  }
  
}

@media screen and (max-width: 944px) {.home-hero-buttons-position{ position: absolute; left: 18vw; bottom: -17%;}}
@media screen and (max-width: 892px) {.home-hero-buttons-position{ position: absolute; left: 16vw; bottom: -17%;}}
@media screen and (max-width: 828px) {.home-hero-buttons-position{ position: absolute; left: 14vw; bottom: -17%;}}
@media screen and (max-width: 772px) {.home-hero-buttons-position{ position: absolute; left: 12vw; bottom: -17%;}}
@media screen and (max-width: 750px) {.home-hero-buttons-position{ position: absolute; left: 12vw; bottom: -17%;} .home-mobile-image{ width: 450px; margin-top: 40px !important; margin: auto; }}
@media screen and (max-width: 722px) {.home-hero-buttons-position{ position: absolute; left: 10vw; bottom: -17%;}}
@media screen and (max-width: 680px) {.home-hero-buttons-position{ position: absolute; left: 8vw; bottom: -17%;}}
@media screen and (max-width: 652px) {.home-hero-buttons-position{ position: absolute; left: 10vw; bottom: -17%;}  .home-hero-whitepaper{ height: 32px; width: 140px;} .home-hero-button-social-container{ width: 140px; } .home-hero-whitepaper button, .home-hero-contract{ height: 28px; width: 136px; font-size: 16px; }}
@media screen and (max-width: 620px) {.home-hero-buttons-position{ position: absolute; left: 8vw; bottom: -17%;}}
/* @media screen and (max-width: 592px) {.home-hero-buttons-position{ position: absolute; left: 8vw; bottom: -17%;}} */
@media screen and (max-width: 592px) {.home-hero-buttons-position{ position: absolute; left: 7vw; bottom: -17%;} .home-mobile-image{ width: 400px; object-fit: contain; margin-top: 40px !important; margin: auto; }}
@media screen and (max-width: 570px) {.home-hero-buttons-position{ position: absolute; left: 5vw; bottom: -17%;}}
@media screen and (max-width: 544px) {.home-hero-buttons-position{ position: absolute; left: 3vw; bottom: -17%;}}
@media screen and (max-width: 510px) {.home-hero-buttons-position{ position: absolute; left: 4vw; bottom: -25%;}}
@media screen and (max-width: 496px) {.home-hero-buttons-position{ position: absolute; left: 5vw; bottom: -30%;}}
@media screen and (max-width: 488px) {.home-hero-buttons-position{ position: absolute; left: 5vw; bottom: -18%;} .home-hero-whitepaper{ height: 28px; width: 120px;} .home-hero-button-social-container{ width: 120px; } .home-hero-whitepaper button,  .home-hero-contract{ height: 24px; width: 116px; font-size: 14px;} .mt{margin-top: 2px;}  .home-hero-button-social{ height: 25px;}}
@media screen and (max-width: 450px) {.home-hero-buttons-position{ position: absolute; left: 5vw; bottom: -24%;}}
@media screen and (max-width: 426px) {.home-hero-buttons-position{ position: absolute; left: 5vw; bottom: -30%;}}

/* ============ */
@media screen and (max-width: 530px) {
  .hero-price-indicator{
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero-price-indicator{
    padding: 40px 10px;
  }
}
@media screen and (max-width: 435px) {
  .indicator-line{
    width: 15%;
  }
  .indicator-line-container{
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .indicator-heading{
    font-size: 28px;
  }
  .indicator-button, .indicator-i-text{
    font-size: 16px;
  }
  .indicator-button-wrapper{
    height: 45px;
  }
  
}
@media screen and (max-width: 500px) {
  .indicator-heading{
    font-size: 24px;
  }
  .indicator-sub-heading{
    font-size: 16px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1120px) {
  .roadmap-point-1{
    transform: translateY(-16%);
  }
}
@media screen and (max-width: 990px) {
@media screen and (max-width: 465px) {
.roadmap-points-wrapper{
  flex-direction: column;
  gap: 30px;
}
.roadmap-point-1, .roadmap-point-2, .roadmap-point-3, .roadmap-point-4, .roadmap-point-5, .roadmap-point-6{
  transform: translateY(0%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.disc-wrapper{
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
  .roadmap-point-1, .roadmap-point-3, .roadmap-point-5{
    transform: translateY(-0%);
  }
}
@media screen and (max-width: 1070px) {
  .roadmap-header{
    margin-top: 60px;
  }
  .roadmap-header p{
    font-size: 32px;
  }
}
@media screen and (max-width: 700px) {
  .roadmap-header{
    margin-top: 60px;
  }
  .roadmap-header p{
    font-size: 26px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 550px) {
  .roadmap-header{
    margin-top: 60px;
  }
  .roadmap-header p{
    font-size: 24px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .features-container {
    padding: 0px 2%;
  }
  .roadmap-upper-text, .roadmap-lower-text{
    font-size: 22px;
    line-height: 40px;
  }
  .roadmap-upper, .roadmap-lower{
    flex-direction: column;
    height: 100%;
  }
  .roadmap-lower{
    margin-top: 0px;
  }
  .roadmap-lower-right img{
    object-fit: contain;
    scale: 0.7 !important;
    margin-top: 30px;
  }
  .roadmap-upper-left, .roadmap-upper-right, .roadmap-lower-left, .roadmap-lower-right{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .roadmap-upper-text, .roadmap-lower-text {
    text-align: center;
    margin-top: 20px;
    line-height: 35px;
  }
}
@media screen and (max-width: 750px) {
.copy-text{
  font-size: 18px;
}
.copy-text-img{
  height: 16px;
}
}
@media screen and (max-width: 650px) {
.copy-text{
  font-size: 16px;
}
.copy-text-img{
  height: 16px;
}
}
@media screen and (max-width: 550px) {
.copy-text{
  font-size: 15px;
}
.copy-text-img{
  height: 15px;
}
.copy-text-container{
  gap: 8px;
}
}
@media screen and (max-width: 500px) {
.copy-text{
  font-size: 12px;
}
.copy-text-img{
  height: 12px;
}
.copy-text-container{
  gap: 8px;
  flex-direction: column;
}
.tokenomic-heading-container{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
}
@media screen and (max-width: 600px) {
  .marque-image{
    height: 25px;
    margin-left: 30px;
  }
  .marqur-container{
    padding-bottom: 60px 0px !important;
  }
  
  
}
@media screen and (max-width: 1100px) {
  .tokenomic-heading-container{
    padding: 0px 5%;
  }
  .tokenomic-heading{
  font-size: 22px;
  text-align: center;
}
}
@media screen and (max-width: 950px) {
  .tokenomic-heading{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 850px) {
  .tokenomic-heading{
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .tokenomic-heading{
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .tokenomic-heading{
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
.token-button{
  height: 50px;
  width: 200px;
  font-size: 18px;
}
}
@media screen and (max-width: 650px) {
  .token-button{
    height: 45px;
    width: 180px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .home-bottom-section-text-container{
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
 
    .footer-last-two-links{
      display: none;
    }

  .footer-wrapper{
    height: 100%;
  }
}

/* ====== Home page ====== */

/* ============= Responsive Styles ============= */